@font-face {
    font-family: titulo da fonte;
    src: url(../img/Pixel\ Emulator.otf);
}

.personagem {
    width: 250px;
    height: 250px;
    position: absolute;
    top:500px;
    left:0px;
}

body {
    background-image: url(../img/Bg/bgPixel.png);
    background-size: cover;

}

.titulo {
    font-family: "titulo da fonte";
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 5px 5px black;    
}

.trem {
    height: 170px;
}